<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Добро пожаловать, {% if user.is_authenticated %}{{ user.username }}{% else %}Гость{% endif %}!</h1>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</body>
</html>
